---
  export async function getStaticPaths({rss}) {
    const posts = Astro.fetchContent('./**/*.md');
    const filtered = posts.filter((post) => post.draft !== true);
    const sortedPosts = filtered.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());

    rss({
    title: 'Trainingmontage — Web Dev & Writing',
    stylesheet: true,
    description: 'I make cool things for the web and write about what I learn.',
    customData: `<language>en-us</language>`,
    items: sortedPosts.map(item => ({
      title: item.title,
      link: item.url,
      pubDate: item.date,
      author: 'Jeff Caldwell',
      description: item.content.html
    })),
    dest: "/feed.xml",
  });
  // Return your paths
  return sortedPosts;
  }
---
<!-- <MainLayout title="trainingmontage — all posts">
  <section class="post-list flow">
        {posts.map((post) => <BlogPreview post={post} />)}
    </section>
</MainLayout> -->
