---
  import { Markdown } from 'astro/components';
  import ComponentBlogLayout from '../../../layouts/ComponentBlogLayout.astro';
  let postProps = {
    root: 'challenges',
    title: 'Adventures in Data Structures: The Linked List',
    date: '2021-09-26 11:54:26',
    tags: ['AdventuresInDataStructures', 'LinkedList'],
    description: "In the first of a series demonstrating common data-structures in JavaScript, I tackle the Linked List, a simple structure that's good for storing data that needs frequent insertions and deletions."
  }
---

<ComponentBlogLayout content={postProps}>
  <section slot="content">
    <Markdown>
      
    </Markdown>
  </section>

  <div slot="sidebar" id="hashtable-sidebar">
    <h4>Sidebar</h4>
  </div>
</ComponentBlogLayout>

<style>
  #hashtable-sidebar {
    background: tomato;
  }
</style>