---
  import MainLayout from '../../layouts/MainLayout.astro';
  import BlogPreview from '../../components/BlogPreview.astro';
  const { slug } = Astro.request.params;
  const { posts } = Astro.props;

  export async function getStaticPaths() {
    const posts = Astro.fetchContent('../**/*.md');
    posts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());

    let slugs = [];

    for(let post of posts) {
      slugs.push(post.slug);
    }

    return [...slugs].map((slug) => ({
      params: { slug },
      props: { posts: posts },
    }));

  }
---
<MainLayout title="trainingmontage — all posts">
  <section class="post-list flow">
        {posts.map((post) => <BlogPreview post={post} />)}
    </section>
</MainLayout>
