---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="trainingmontage — writing and web dev">
<div class="fourohfour flow">
  <h2 class="error">
    404
  </h2>
  <span class="ohno-message">Looks like that page doesn't exist!</span>
  <a href="/" class="fourohfour-link">Go home!</a>
</div>
</MainLayout>

<style>
  .fourohfour {
    margin: var(--size-900) auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --flow-space: var(--size-900);
  }
  .error {
    font-size: 6rem !important;
    color: var(--color-hover);
    line-height: 1;
  }
  .ohno-message {
    font-size: var(--size-700);
    max-width: 20ch;
  }
  .fourohfour-link {
    font-size: var(--size-600);
  }
</style>