---
import MainLayout from '../layouts/MainLayout.astro';
import BlogPreview from '../components/BlogPreview.astro';
import ChallengePosts from './challenges/posts.js';
let mdPosts = Astro.fetchContent('./posts/*/*.md');
// let allPosts = [...mdPosts, ...ChallengePosts];
let allPosts = [...mdPosts];
allPosts = allPosts.sort((a,b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
---

<MainLayout title="trainingmontage — writing and web dev">
    <section class="post-list flow">
        {allPosts.map((post) => <BlogPreview post={post} />)}
    </section>
</MainLayout>

<style>
    
</style>