---
import BaseHeadLayout from '../layouts/BaseHeadLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
let { title } = Astro.props;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
    <BaseHeadLayout title={title} />
    <body>
    <Header />
    <div id="content">
        <main tabindex="-1">
          <slot />
        </main>
    </div>
    <Footer />
</body>
</html>